<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ECommClient</display-name>
  <servlet>
    <display-name>Signupserv</display-name>
    <servlet-name>Signupserv</servlet-name>
    <servlet-class>com.servlets.Signupserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signupserv</servlet-name>
    <url-pattern>/Signupserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Loginserv</display-name>
    <servlet-name>Loginserv</servlet-name>
    <servlet-class>com.servlets.Loginserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginserv</servlet-name>
    <url-pattern>/Loginserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Cartserv</display-name>
    <servlet-name>Cartserv</servlet-name>
    <servlet-class>com.servlets.Cartserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cartserv</servlet-name>
    <url-pattern>/Cartserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>CartLookserv</display-name>
    <servlet-name>CartLookserv</servlet-name>
    <servlet-class>com.servlets.CartLookserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartLookserv</servlet-name>
    <url-pattern>/CartLookserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Profileserv</display-name>
    <servlet-name>Profileserv</servlet-name>
    <servlet-class>com.servlets.Profileserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profileserv</servlet-name>
    <url-pattern>/Profileserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Searchserv</display-name>
    <servlet-name>Searchserv</servlet-name>
    <servlet-class>com.servlets.Searchserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Searchserv</servlet-name>
    <url-pattern>/Searchserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Updateprofileserv</display-name>
    <servlet-name>Updateprofileserv</servlet-name>
    <servlet-class>com.servlets.Updateprofileserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Updateprofileserv</servlet-name>
    <url-pattern>/Updateprofileserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Postitemserv</display-name>
    <servlet-name>Postitemserv</servlet-name>
    <servlet-class>com.servlets.Postitemserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Postitemserv</servlet-name>
    <url-pattern>/Postitemserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Postitemtempserv</display-name>
    <servlet-name>Postitemtempserv</servlet-name>
    <servlet-class>com.servlets.Postitemtempserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Postitemtempserv</servlet-name>
    <url-pattern>/Postitemtempserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Approvebidserv</display-name>
    <servlet-name>Approvebidserv</servlet-name>
    <servlet-class>com.servlets.Approvebidserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Approvebidserv</servlet-name>
    <url-pattern>/Approvebidserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Bidrequestserv</display-name>
    <servlet-name>Bidrequestserv</servlet-name>
    <servlet-class>com.servlets.Bidrequestserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bidrequestserv</servlet-name>
    <url-pattern>/Bidrequestserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Viewbidserv</display-name>
    <servlet-name>Viewbidserv</servlet-name>
    <servlet-class>com.servlets.Viewbidserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Viewbidserv</servlet-name>
    <url-pattern>/Viewbidserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Biddingdoneserv</display-name>
    <servlet-name>Biddingdoneserv</servlet-name>
    <servlet-class>com.servlets.Biddingdoneserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Biddingdoneserv</servlet-name>
    <url-pattern>/Biddingdoneserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>BidItemServlettemp</display-name>
    <servlet-name>BidItemServlettemp</servlet-name>
    <servlet-class>com.servlets.BidItemServlettemp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BidItemServlettemp</servlet-name>
    <url-pattern>/BidItemServlettemp</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <display-name>Logoutserv</display-name>
    <servlet-name>Logoutserv</servlet-name>
    <servlet-class>com.servlets.Logoutserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logoutserv</servlet-name>
    <url-pattern>/Logoutserv</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <display-name>Checkoutserv.java</display-name>
    <servlet-name>Checkoutserv.java</servlet-name>
    <servlet-class>com.servlets.Checkoutserv.java</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Checkoutserv.java</servlet-name>
    <url-pattern>/Checkoutserv.java</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <display-name>Cartremoveserv</display-name>
    <servlet-name>Cartremoveserv</servlet-name>
    <servlet-class>com.servlets.Cartremoveserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cartremoveserv</servlet-name>
    <url-pattern>/Cartremoveserv</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>CompressingFilter</filter-name>
    <filter-class>com.github.ziplet.filter.compression.CompressingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CompressingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>